{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Inventario</title>{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
</head>

<body>
  	<div class="container-fluid">
  		<div class="row">
  			<div class='col-md-10 col-md-offset-1'>
  	{% block sidebar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span>Inventario colegio Nahuelcura</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'asignacion_new' %}">Registrar articulo</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ver <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'asignacion_list' %}">Ver asignaciones</a></li>
					<li><a href="{% url 'inventario' %}">Ver inventario</a></li>
					<li><a href="{% url 'salas_list' %}">Ver salas</a></li>
				</ul>
			</li>
		</ul>
    </div>
  </div>
</nav>

  	

	{% endblock %}
  	{% block content %}<!-- default content text (typically empty) -->{% endblock %}
		</div></div>
	</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery.chained.js' %}"></script>
	<script>

	
</script>
</body>
</html>